{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Password Reset Done{% endblock title %}
 </head>
<body>
    {% block content %}
    {% csrf_token %}
    <h2>Password Reset</h2>
    <p>Please check your inbox and follow the instruction to reset your password.</p>

    {% comment %} <a href="{% url "password_reset_complete" %}">Confirm Here</a> {% endcomment %}
    {% endblock content %}
    
</body>
</html>