{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}Password Reset{% endblock title %}
</head>
<body>
    {% block content %}
    <form action="" method="post">
        <h2>Reset Password</h2>
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" name="Reset your password">
        <a href="{% url "password_reset_done" %}"></a>
    </form>
    {% endblock content %}
    
</body>
</html>